/**
 * Spicy Magpie's Boilerplate
 *
 * Check http://learnboost.github.io/stylus for more information.
 */

bgcolor = #FFFFFF

.a-useless-class
    background-color bgcolor
    color darken(bgcolor, 99)
