/**
 * Spicy Magpie's Boilerplate
 *
 * Check http://www.sass-lang.com/ for more information.
 */

$bgcolor: #FFFFFF;

.a-useless-class {
    background-color: $bgcolor;
    color: darken($bgcolor, 99%);
}
